/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-bar {
  &--success {
    color: #4F8A10;
    background-color: #DFF2BF;
  }
  &--error {
    color: #D8000C;
    background-color: #FFBABA;
  }
}
